<nav class="navbar shadow-lg " style="background-color: rgb(171, 17, 17);" >
    <div class="container-fluid">
      <a class="navbar" routerLink="/dashboard" id="logo">
        <img src="https://i.postimg.cc/JzpYRPmz/images-removebg-preview.png" alt="Logo" width="70" height="64" class="d-inline-block align-text-top">
        
       <span class="fw-bold text-decoration-none fs-5 text-light" ><span style="color:rgb(255, 166, 0);">U</span>ser <span style="color:rgb(255, 166, 0)">D</span>esk</span> 
      </a>
    </div>
  </nav>
