*{
    margin: 0;
    /* width: 1800px; */
    background-color: rgb(237, 217, 90);
    background-image: url(https://www.shutterstock.com/image-vector/vector-green-bokeh-nature-background-600nw-1933081805.jpg);
}